h1{
  background-color:#F15A29;
color: white;
text-align: center;
 background-color: white;
  }"
  #author
  background-color:blue
color: white;
padding-right: 60px;
padding-left: 35px;
text-align: center;

  #play
