body {
  background-color: white;
}
#sectionhead{
  text-align: center;
}
h1 {
  color: grey;
}

#subscribe {
background-color: #black;
color: white;
padding-right: 35px;
padding-left: 35px;
text-align:center;
margin-left: 350px;
border-color: #F15A29;
margin-top: 20px;
}
#createdby{
 margin-top: 50px;
 margin-left: 560px;
 }
#aboutpingpong{
 margin-top: 50px;
 margin-right: 650px;
}
#letsplay{
 background-color: white;
 border-color:#F15A29;
 padding-right: 3%;
 padding-top: 3%;
 padding-bottom: 3%;
 padding-left: 3%;
 color: #F15A29;
 margin-top: 16px;
 margin-left: 16px;
}
